* {

    margin: 0;
    padding: 0;
}

nav {

    background: moccasin;
    height: 100px;
}

body {

    background-image: url(css/123.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450vh;
}

img {
    margin-left: 100px;
    border-radius:50%;
    width: 15%;
    padding: 50px;
}



.contenedor{
    display: flex;
    margin-top: 200px;
}

p{
   
   padding: 50px;
   margin-left: 200px;
   align-content: space-between;
   background-color:white;
   height: 80px;
}
.mono{
    padding: 20px;
    margin-top: 50px;
    height: 100px;

}
.img2{
    margin-left: 240px;
}




@media(min-width:390px){
    .contenedor {
        display: grid;
        grid-template-columns: repeat(1,1fr);

        

    }

  
    
  
}